.h-200 {
    height: 200% !important;
}

.login-form-bg .card-body {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.btn-cancel-register {
    padding: 15px 40px;
}

.control_recover {
    display: none;
}

.color {
    color: #7CD9E2;
    font-weight: bold;
}

.porcentaje {
    font-size: 4rem;
}

.nombre {
    font-size: 3rem;
}