.h-200{
    height: 200% !important;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    }

.btn-cancel-register{
    padding: 15px 40px;
}

.control_recover{
    display: none;
}